*{
    margin: 0;
    padding: 0;
}
.logimage{
    padding: 0px;
    margin: 0px;
}
.logimage img{
    width: 200px;
}
.menu{
    width: 100%;
}
.menu ul{
    background: #21618C;
    float: right;
    display: flex;
}
.menu ul li{
    padding: 22px 140px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    color: black;
}
.menu ul li:hover{
    background: teal;
}