*{
    margin: 0;
    padding: 0;
}
.logimage{
    padding: 0px;
    margin: 0px;
}
.logimage img{
    width: 200px;
}
.menu{
    width: 100%;
}
.menu ul{
    background: #21618C;
    float: right;
    display: flex;
}
.menu ul li{
    padding: 22px 140px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    color: black;
}
.menu ul li:hover{
    background: teal;
}
.container-table{
    width: 100%;
}
.container-table h1{
    width: 100%;
    float: left;
    text-align: center;
}
table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
}